<div class = "row">

  <!-- Name input -->
  <div class = "col-lg-4 form-group">
    <label class = "fieldLabel" i18n = "What the hell is this@@missionNameLabel">Name</label>

    <input class = "form-control"
      type = "text"
      placeholder = "Mission name"/>
  </div>
  
  <!-- Date from -->
  <div class = "col-lg-3 form-group">
    <label calss = "fieldLabel" i18n>From</label>

  </div>

  <!-- Date to-->
  <div class = "col-lg-3 form-group">
    <label calss = "fieldLabel" i18n>Until</label>
  </div>

  <!-- Search button-->
  <div class = "col-lg-2 form-group">
    <button class = "btn btn-block btn-primary">
      Find
    </button>
  </div>

</div>