<div class = "row">

  <!-- Name input -->
  <div class = "col-lg-3 form-group">
    <label class = "fieldLabel" translate >components.searchFilter.name</label>

    <input class = "form-control"
      type = "text"
      placeholder = "{{ 'components.searchFilter.name' | translate }}"/>
  </div>
  
  <!-- Date from -->
  <div class = "col-lg-3 form-group">
    <label class = "fieldLabel" translate>components.searchFilter.dateFrom</label>

  </div>

  <!-- Date to-->
  <div class = "col-lg-3 form-group">
    <label class = "fieldLabel" translate >components.searchFilter.dateTo</label>
  </div>

  <!-- Search button-->
  <div class = "col-lg-3 form-group">
    <button mat-raised-button class = "mat-raised-button">
      {{ 'components.searchFilter.searchButton' | translate }}
    </button>
  </div>
</div>